body {
  background-color: lightblue;
}

h1 {
  color: #2e3192;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
}

table {
  width: 80%!important;
}

th {
  height: 50px;
  background-color: #2e3192;
  font-weight: bold!important;
  color: #fff!important;
  text-align: left;
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

.button {
  background-color: #2e3192;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
}

.button1 {border-radius: 10px;}
